<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Route</title>
    <!-- Add your CSS links or stylesheets here -->
</head>
<body>
    <h1 align="center">Welcome to the Authentication Route</h1>
    <h2 align="center">Sorry, this route does not exist or you don't have rights to access it :( <strong>{{ path }}</strong></h2>
    <h3 align="center">&copy; 2023 WWE Web Page</h3>
    <p align="center"><a href="/home">Back to WWE Flask app</a></p>
    <!-- Add your JavaScript scripts or references here -->
</body>
</html>