{%extends "base.html"%}
{%block title%}Change password{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="static/dark-mode.css">
<link rel="stylesheet" href="static/login_register.css">
{%endblock%}
{%block content%}
<form method="POST">
    <h3 align="center">Change password</h3>
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"
        maxlength="40">
    </div>
    <div class="form-group">
        <label for="old_password">Old password:</label>
        <input 
        type="password" 
        class="form-control" 
        id="old_password" 
        name="old_password" 
        placeholder="password"
        maxlength="50">
    </div>
    <div class="form-group">
        <label for="new_password">New password: (6 characters or more)</label>
        <input 
        type="password" 
        class="form-control" 
        id="new_password1" 
        name="new_password1" 
        placeholder="password"
        maxlength="50">
    </div>
    <div class="form-group">
        <label for="new_password2">Repeat new password:</label>
        <input 
        type="password" 
        class="form-control" 
        id="new_password2" 
        name="new_password2" 
        placeholder="password"
        maxlength="50">
    </div>
    <br>
    <button type="submit" class="btn btn-primary custom-size-btn">Change password</button>
    <p class="login_register_p">(After clicking Change password open the link in your email to change the password)</p>
</form>
{%endblock%}