{%extends "base.html"%}

{%block title%}Login{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="static/dark-mode.css">
<link rel="stylesheet" href="static/login_register.css">
{%endblock%}
{%block content%}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter Email"
        maxlength="40">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Enter Password"
        maxlength="50">
    </div>
    <br>
    <button type="submit" class="btn btn-primary custom-size-btn">Login</button>
</form>
<br>
<p class="login_register_p">You Don't have an account? <a href="/register">Register now</a></p>
<p class="login_register_p">Forgot password? <a href="/forgot_password">click here</a></p>
{%endblock%}
