{%extends "base.html"%}

{%block title%}Profile Page{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="static/dark-mode.css">
<link rel="stylesheet" href="static/profile_page.css">
{%endblock%}
{%block content%}
<form method="POST">
    <h3 align="center">Hi, {{user.username}}</h3>
    <div class="form-group">
        <p align="center">Here you can change your password, delete your account or add payment card.</p>
    </div>
    <br>
    <button type="submit" class="btn btn-primary custom-size-btn" name="change_password">Change Password</button>
    <br>
    <button type="submit" class="btn btn-danger custom-size-btn" name="delete_account">Delete Account</button>
    <br>
    {% if user_has_payment_card %}
    <button type="submit" class="btn btn-success custom-size-btn" name="add_payment_card">Change Payment Card</button>
    {% else %}
    <button type="submit" class="btn btn-success custom-size-btn" name="add_payment_card">Add Payment Card</button>
    {% endif %}
</form>
{%endblock%}