{%extends "base.html"%}

{%block title%}Register{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="static/dark-mode.css">
<link rel="stylesheet" href="static/login_register.css">
{%endblock%}
{%block content%}
<form method="POST">
    <h3 align="center">Register</h3>
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter Email"
        maxlength="40">
    </div>
    <div class="form-group">
        <label for="username">Username: (5 characters or more)</label>
        <input 
        type="text" 
        class="form-control" 
        id="username" 
        name="username" 
        placeholder="Enter Username"
        maxlength="20">
    </div>
    <div class="form-group">
        <label for="password1">Password: (8 characters or more)</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter Password"
        maxlength="50">
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password:</label>
        <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm Password"
        maxlength="50">
    </div>
    <br>
    <br>
    <h3 align="center">Add Payment Card(not required)</h3>
    <div class="form-group">
        <label for="card_number">Card number:</label>
        <input 
        type="text" 
        class="form-control" 
        id="card_number" 
        name="card_number" 
        placeholder="Enter Card Number"
        maxlength="19">
    </div>
    <div class="form-group">
        <label for="expiry_date">Expiry date (MM/YY):</label>
        <input 
        type="text" 
        class="form-control" 
        id="expiry_date" 
        name="expiry_date" 
        placeholder="Enter Expiry date"
        maxlength="5">
    </div>
    <div class="form-group">
        <label for="cvv">CVV:</label>
        <input 
        type="text" 
        class="form-control" 
        id="cvv" 
        name="cvv" 
        placeholder="Enter CVV"
        maxlength="3">
    </div>
    <br>
    <button type="submit" class="btn btn-primary custom-size-btn">Register</button>
    <p class="login_register_p">You Already have an account? <a href="/login">Login</a></p>
</form>
<script src="static/payment_card.js"></script>
{%endblock%}