{%extends "base.html"%}

{%block title%}Password Changed Successfully{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='dark-mode.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='redirect_from_email_links.css') }}">
{%endblock%}
{%block content%}
<h1>Hello, {{user.username}}</h1>
<h2>You have successfully changed your password</h2>
<p><a href="/home">Back to the Home Page</a></p>
<br>
    <!-- <div class="clearfix"></div> Clear the float to prevent layout issues -->
{%endblock%}