<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    {%block custom_css%}<link rel="stylesheet" href="static/dark-mode.css">{%endblock%}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body background-color="red">
    <nav id="nav1" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        {%if user.is_authenticated%}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home"><img src="{{ url_for('static', filename='images/logo_images/home_button.png') }}" width="30" height="30" alt="Home button"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/shows">SHOWS</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SUPERSTARS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/all_superstars">All Superstars</a>
              <a class="dropdown-item" href="/champions">Champions</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/shop">SHOP</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right align-items-center">
          Light/Dark mode ->
          <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider"></span>
          </label>
          <li class="nav-item active">
            <a class="nav-link" href="/profile_page"><img src="{{ url_for('static', filename='images/logo_images/profile_logo.jpg') }}" width="50" height="30" alt="Profile page"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/basket"><img src="{{ url_for('static', filename='images/logo_images/basket.jpg') }}" width="50" height="30" alt="Basket"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
        {%else%}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home"><img src="{{ url_for('static', filename='images/logo_images/home_button.png') }}" width="30" height="30" alt="Home button"></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/shows">SHOWS</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              SUPERSTARS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/all_superstars">All Superstars</a>
              <a class="dropdown-item" href="/champions">Champions</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/shop">SHOP</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right align-items-center">
          Light/Dark mode ->
          <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider"></span>
          </label>
          <li class="nav-item active">
              <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
        {%endif%}
      </div>
    </nav>
    <div class="flash">
      {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages%}
        {%for category, message in messages%}
        {%if category == "error"%}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%elif category == "warning"%}
        <div class="alert alert-warning alert-dismissable fade show text-dark" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
        {%else%}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%endif%}
        {%endfor%}
    {%endif%}
    {%endwith%}
    </div>
    {% block content %}{% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='dark-mode.js') }}"></script>
  </body>
</html>
