{%extends "base.html"%}

{%block title%}Home{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='dark-mode.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{%endblock%}
{%block content%}
<br>
<br>
<br>
    <h1 align="center">Hello, {{user.username}}</h1>
    <h1 align="center">Welcome to WWE Home page</h1>

    <script>
        // Add a data attribute to the body to identify the home page
        document.body.setAttribute('home-page', 'home');
    </script>
{%endblock%}