{%extends "base.html"%}
{%block title%}Your Basket{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="static/dark-mode.css">
<link rel="stylesheet" href="static/basket.css">
{%endblock%}
{%block content%}
<div class="center-container">
    <br>
    <h1>Your Basket</h1>
    <ul>
        {% for product_title, details in cart.items() %}
        <li>
            <img src="{{ details['img'] }}" alt="Product Image" class="product-image"><br>
            Product Title: {{ product_title }}<br>
            Quantity: {{ details['quantity'] }}<br>
            Price: {{ details['product_price'] }}€<br>
            Total Price: {{ details['product_price'] }}€ * {{ details['quantity'] }} = {{ details['total_price']}}€<br>
            <!-- Size: {{ details['product_size'] }}<br> -->

            <form method="POST" action="/remove_product">
                <input type="hidden" name="product_title" value="{{ product_title }}">
                <button type="submit" class="remove-button">Remove</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <h2>Total Price: {{ total_amount }}€</h2>
    <a href="/shop">Add Product/Products</a>
    {%if total_amount > 0%}
    <form method="POST">
        <div class="form-group">
            <label for="shipping_address">Shipping Address:</label>
            <br>
            <textarea id="shipping_address" name="shipping_address" rows="4" cols="70" minlength="20" maxlength="1000"></textarea>
        </div>

        <button type="submit" class="btn btn-success custom-size-btn">Buy</button>
    </form>
    {%endif%}
</div>
{%endblock%}