{%extends "base.html"%}

{%block title%}Shop{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='dark-mode.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
{%endblock%}
{%block content%}
    <h1>Shop</h1>
    
    <div class="image-container">
        <div class="image-item">
            <a href="{{ url_for('views.t_shirts') }}"><img src="{{ url_for('static', filename='images/t-shirts/t-shirt9.jpg') }}" alt="T-Shirts"></a>
            <a href="{{ url_for('views.t_shirts') }}"><p class="image-text">T-Shirts</p></a>
        </div>
        
        <div class="image-item">
            <a href="{{ url_for('views.titles') }}"><img src="{{ url_for('static', filename='images/shop_images/WWE_World_Heavyweight_Championship_title.png') }}" alt="WWE Titles"></a>
            <a href="{{ url_for('views.titles') }}"><p class="image-text">WWE Titles</p></a>
        </div>

        <div class="image-item">
            <a href="{{ url_for('views.toys') }}"><img src="{{ url_for('static', filename='images/toys_images/John_Cena_Toy.jpg') }}" alt="Toys"></a>
            <a href="{{ url_for('views.toys') }}"><p class="image-text">Toys</p></a>
        </div>
    </div>
    <h3>Orders over $500 have a 10% discount</h3>
{%endblock%}
