{%extends "base.html"%}

{%block title%}Titles{%endblock%}
{%block custom_css%}
<link rel="stylesheet" href="static/dark-mode.css">
<link rel="stylesheet" href="static/t-shirts.css">
{%endblock%}
{%block content%}
<h1>Titles</h1>
<br>
<div class="image-container">
    <div class="image-item">   
        <a href="/title_info?img=/static/images/shop_images/WWE_World_Heavyweight_Championship_title.png&product_name=WWE World Heavyweight Championship title&price=400€">
            <img src="{{ url_for('static', filename='images/shop_images/WWE_World_Heavyweight_Championship_title.png') }}" alt="Image 1">
        </a>
        <a href="/title_info?img=/static/images/shop_images/WWE_World_Heavyweight_Championship_title.png&product_name=WWE World Heavyweight Championship title&price=400€">
            <h2>WWE World Heavyweight Championship title</h2>
            <!-- <p>Championship holders: 142.</p>
            <p>Longest reign: 529 days by Roman Reigns</p>
            <p>Shortest reign: 8 days by The Mizz</p>
            <p>Price: 400€</p> -->
        </a>
        <a href="/title_info?img=/static/images/shop_images/WWE_World_Heavyweight_Championship_title.png&product_name=WWE World Heavyweight Championship title&price=400€">
            <p>Price: 400€</p>
        </a>  
    </div>
    
    <div class="image-item">
        <a href="/title_info?img=/static/images/shop_images/WWE_World_Championship_title.png&product_name=WWE Championship title&price=300€">
            <img src="{{ url_for('static', filename='images/shop_images/WWE_World_Championship_title.png') }}" alt="Image 1">
        </a>
        <a href="/title_info?img=/static/images/shop_images/WWE_World_Championship_title.png&product_name=WWE Championship title&price=300€">
            <h2>WWE Championship title</h2>
        </a>      
        <a href="/title_info?img=/static/images/shop_images/WWE_World_Championship_title.png&product_name=WWE Championship title&price=300€">
            <p>Price: 300€</p>
        </a> 
    </div>

    <div class="image-item">
        <a href="/title_info?img=/static/images/shop_images/WWE_Universal_Championship_title.png&product_name=WWE Universal Championship title&price=380€">
            <img src="{{ url_for('static', filename='images/shop_images/WWE_Universal_Championship_title.png') }}" alt="Image 3">
        </a>
        <a href="/title_info?img=/static/images/shop_images/WWE_Universal_Championship_title.png&product_name=WWE Universal Championship title&price=380€">
            <h2>WWE Universal Championship title</h2>
        </a>
        <a href="/title_info?img=/static/images/shop_images/WWE_Universal_Championship_title.png&product_name=WWE Universal Championship title&price=380€">
            <p>Price: 380€</p>
        </a> 
    </div>
</div>
    
    <!-- <div class="clearfix"></div> Clear the float to prevent layout issues -->
{%endblock%}
