.product-image {
    width: 300px; /* Set the width of the image */
    height: auto; /* Auto-adjust the height to maintain the aspect ratio */
    margin: 20px; /* Add margin around the image */
    /* padding: 10px; Add padding inside the image */
    border: 15px solid aqua; /* Add a border with a color */
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}

.remove-button {
    background-color: red; /* Change this color as needed */
    color: white;
    border: none;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
}