/* Navbar Styles */
.navbar {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  .navbar-brand {
	font-size: 24px;
  }
  
  /* Dark Mode Toggle Styles */
  tr {
	background-color: #111;
	color: #fff;
  }


  .switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 0 10px;
	vertical-align: middle;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 20px;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: #fff;
	transition: 0.4s;
	border-radius: 50%;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:checked + .slider:before {
	transform: translateX(20px);
  }
  
  /* Dark Mode Styles */
  body.dark-mode {
	background-color: #111;
	color: #fff;
  }
  
  .dark-mode .navbar {
	background-color: #111;
  }
  
  .flash {
	margin-top: 0px;
    z-index: 102; /* A higher z-index than your background image (e.g., 102) */
    position: relative;
}

/* Sticky Footer Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport. */
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom of the viewport. */
}

.footer p {
    margin: 0;
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center child elements horizontally */
}

.contacts, .follow-me {
    text-align: center; /* Center text within their respective containers */
}

#contacts_footer, #phone_footer, #email_footer, #follow_me_footer, #facebook_footer, #instagram_footer {
    display: inline; /* Set display to "inline" for inline elements */
    margin-right: 10px; /* Add some spacing between elements */
}
