.image-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  
  .image-container:nth-child(2) {
    justify-content: flex-start; /* Align the single image to the left in the second row */
  }
  
  .image-item {
    flex: 1;
    max-width: calc(33.333% - 50px); /* Adjust the width and margin as needed */
    margin: 25px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .image-item img {
    width: 100%; /* Force all images to have the same width */
    height: 300px; /* Set a fixed height for all images, adjust as needed */
    object-fit: contain;
  }
  
  .image-item p {
    margin-top: 10px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  /* This is for the link for second page */
  .button-link {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007BFF; /* Change to your desired button background color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: wait;
    transition: background-color 0.9s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }