.image-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
  
  .image-container:nth-child(2) {
    justify-content: flex-start; /* Align the single image to the left in the second row */
  }
  
  .image-item {
    flex: 1;
    max-width: calc(33.333% - 50px); /* Adjust the width and margin as needed */
    margin: 25px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .image-item img {
    width: 100%; /* Force all images to have the same width */
    height: 200px; /* Set a fixed height for all images, adjust as needed */
    object-fit: contain;
  }
  
  .image-item p {
    margin-top: 10px;
  }
  
  h2 {
    text-align: center;
  }

  /* This is for the link for second page */
  .button-link {
    display: inline-block;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.9s ease;
    text-align: center;
    width: 46px; /* Set a fixed width for the square button */
    height: 46px; /* Set a fixed height for the square button */
    line-height: 23px; /* Center text vertically within the square */
    margin: 0 auto; /* Center the button horizontally */
    margin-bottom: 40px; /* Add margin to create space between the link and the footer */
}
