.container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image {
    flex: 1;
    padding: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 2;
    padding: 10px;
}

.button {
    text-align: right;
}

.button a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}