.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items on all screen sizes */
  margin: 0 auto; /* Center the container */
  max-width: 90%; /* Ensure the container doesn't exceed the screen width */
}

.image-item {
  flex: 1;
  max-width: calc(50% - 20px); /* Adjust the width and margin as needed */
  margin: 20px;
  box-sizing: border-box;
  text-align: center;
}

.image-item img {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  height: auto; /* Allow the image to maintain its aspect ratio */
  max-height: 100%; /* Set a maximum height relative to the container */
}

.image-item p {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 768px) {
  .image-container {
    flex-direction: column; /* Display items in a column for small screens */
  }

  .image-item {
    max-width: 100%; /* Use full width for image items on small screens */
  }
}