.image-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.image-item {
  flex: 1;
  max-width: calc(25% - 50px); /* Adjust the width and margin as needed */
  margin: 25px;
  box-sizing: border-box;
  text-align: center; /* Center-align the content */
}

.image-item img {
  width: 100%;
  height: auto; /* Set a fixed height for the images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.image-item p {
  margin-top: 10px; /* Add spacing between image and text */
}

h1 {
  text-align: center;
}
